*{
    margin:0;
    padding:0;
}

a{
    cursor: pointer;
    text-decoration: none;
    color:#fff;
}

body{
    background-color: azure;
    margin-top:2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header img {
    display: block;
    margin:auto;
    margin-bottom:1.25rem;
}


/* navbar */
nav {
    background-color: #064232;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    padding:1rem;
    
}



/* promotional banner section */

.promotional-banner{
    margin:2rem;
    position: relative;
}
.promotional-banner img {
    width:100%;
    border-radius: 10px;
    opacity: 0.7;
}
h1{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:3rem;
    font-family: 'Courier New', Courier, monospace;
}



/* three column section */
.three-column {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin:2rem;
    gap:1rem;
}

.three-column >* {
    background-color: #CADCAE;
    padding:1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.three-column >*:hover {
    transform: scale(1.1);
    transition: 0.4s linear;

}


.three-column img {
    width:100%;
    object-fit: cover;
    border-radius: 10px;
}




/* dishes section */
.dishes-section {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    margin:2rem;
    background-color: #CADCAE;
    padding:1.5rem;
    border-radius: 10px;

}

h2{
    font-size: 2rem;
    color:#17313E;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size: 1rem;
    color:#17313E
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-images {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:1rem;
}
.content-images >* {
    width:calc(10%-100px);
    height: 200px;
}

.content-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}




/* footer */

footer{
    display:flex;
    justify-content: space-between;
    margin-top:2rem;
    background-color: #064232;
    padding:2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    color:#fff;
}
